@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color-background: #ffffff;
  --hunter-footer-backg-color: #2f303a;
  --secondary-text-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.mob-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .mob-header {
    display: none;
  }
}
.mob-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.mob-header .logo {
  padding: 0;
}

.mob-header__btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: transparent;
  cursor: pointer;
}

.mob-header__icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-header__btn:hover .mob-header__icon, .mob-header__btn:focus .mob-header__icon {
  fill: var(--accent-color);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 40px 70px;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .menu {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 10px 40px;
  }
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .menu-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.mob-menu__item:nth-child(2) {
  margin-bottom: 64px;
}
.mob-menu__item:first-child {
  margin-bottom: 32px;
}

.menu__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 10px;
}

.menu__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__close-btn:hover .menu__icon {
  fill: var(--accent-color);
}

.mob-soc__list {
  display: flex;
}

.mob-soc__item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc__item:first-child {
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .mob-soc__item {
    font-size: 18px;
    line-height: 1.22;
  }
}

.mob-soc__link {
  width: 100%;
  height: 100%;
  color: var(--accent-color);
}

.mob-menu__link--tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__link--tel {
    font-size: 40px;
  }
}

.mob-menu__link--mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-list__item .menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__item .menu-list__link:hover {
  color: var(--accent-color);
}

.menu-list__link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--main-color-background);
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
.header .container {
  display: flex;
  align-items: center;
}

.header__link.current {
  color: var(--accent-color);
  position: relative;
}
.header__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

/*---------------------Логотип-------------------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--first-part {
  color: var(--accent-color);
}

.logo--second-part {
  color: var(--title-text-color);
}

/*------------------------Navigation-------------------*/
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link--mail,
.header__link--tel {
  color: var(--primary-text-color);
}

.header__link--mail {
  padding: 19px 0 0 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header__link--mail {
    padding: 32px 0;
    margin-bottom: 0;
  }
}

.header__link--tel {
  padding: 0 0 19px 0;
}
@media screen and (min-width: 1200px) {
  .header__link--tel {
    padding: 32px 0;
  }
}

.header__list {
  display: flex;
  align-items: center;
}
.header__list:last-child {
  margin-left: auto;
}

.nav .header__item:first-child {
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .nav .header__item:first-child {
    margin-right: 93px;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: block;
}
@media screen and (min-width: 768px) {
  .contacts .header__item {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts .header__item:first-child {
    margin-right: 50px;
  }
}

/* ----------------HEADER ICON-------------- */
.header__icon {
  fill: var(--primary-text-color);
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--tel:hover .header__icon, .header__link--tel:focus .header__icon, .header__link--mail:hover .header__icon, .header__link--mail:focus .header__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

/*-------------------Hero------------------------*/
.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/telheaderimg-min.jpg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-size: cover;
  max-width: 480px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tel-headerimg-x2-min.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-header-min.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-header-x2-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deskbckg-img.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desk-hero-x2-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__text {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .hero__text {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

/*--------КНОПКА------*/
.hero__btn {
  border: 1px solid transparent;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-color-background);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 310px;
  padding: 25px;
  height: 595px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover .modal__icon {
  fill: var(--accent-color);
}

.modal-form__title {
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__label:not(:last-child) {
  margin-bottom: 4px;
}

.modal-form__agreement {
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-form__agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__agreement-link {
  color: var(--accent-color);
}

.modal-form__item:last-child {
  margin-bottom: 30px;
}
.modal-form__item:not(:last-child) {
  margin-bottom: 10px;
  position: relative;
}
.modal-form__item:nth-last-child(2) {
  margin-bottom: 20px;
}

.modal-form__input {
  outline: transparent;
}
.modal-form__input:not(.agreement):focus {
  border-color: var(--accent-color);
}
.modal-form__input:not(.agreement, .comments) {
  padding: 12px 42px;
}
.modal-form__input:not(.agreement) {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input.comments {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  display: block;
}
.modal-form__input.comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__btn {
  display: flex;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
}

.modal-form__svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-colo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__icon-agreement {
  display: inline-flex;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__svg-agreement {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement:checked + .modal-form__agreement .modal-form__icon-agreement {
  border: transparent;
  background-color: var(--accent-color);
}

.agreement:checked + .modal-form__agreement .modal-form__icon-agreement .modal-form__svg-agreement {
  fill: var(--main-color-background);
}

.agreement:focus + .modal-form__agreement .modal-form__icon-agreement {
  border-color: var(--accent-color);
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantage__quality {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__quality {
    text-align: start;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  width: 270px;
}
@media screen and (min-width: 480px) {
  .advantage__text {
    width: 450px;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .advantage__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__text {
    width: 270px;
  }
}

/* --------------ІКОНКИ---------------- */
.advantage__box {
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .advantage__box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__box {
    width: 270px;
  }
}

.our-work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}
.our-work__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.our-work__list {
  display: flex;
  justify-content: space-between;
}
.our-work__item {
  position: relative;
}

.type-of-work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.type-of-work {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.workers {
  background-color: #f5f4fa;
}

.workers__title {
  text-align: center;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .workers__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.wokers__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.workers__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.workers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.workers__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
  width: 290px;
}
@media screen and (min-width: 480px) {
  .workers__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .workers__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .workers__item {
    width: 270px;
  }
}

.employees {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .employees {
    padding-bottom: 30px;
  }
}

/* -------------ICON----------- */
.soc-list {
  display: flex;
  gap: 10px;
  padding: 0 32px;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc-list__link {
  display: flex;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--main-color-background);
}

.partners__title {
  text-align: center;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .partners__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.clients__item {
  height: 92px;
  width: 290px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--hunter-footer-backg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo--second-part {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .container-footer {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    justify-content: space-between;
  }
}

.adress-box__link {
  padding: 0;
  margin-bottom: 20px;
  display: block;
}

.adress-box,
.footer-soc {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .adress-box,
.footer-soc {
    margin-bottom: 0;
    text-align: start;
  }
}

.adress__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__link--mail,
.adress__link--tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* --------------ICON FOOTER--------------------- */
.footer-soc {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-left: 70px;
    text-align: start;
  }
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-background);
  margin-bottom: 20px;
}

.footer-soc__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc__list {
    justify-content: start;
  }
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

.footer-soc__icon {
  align-items: center;
  fill: #ffffff;
}

/* ---------------INPUT FOOTER------------ */
.footer-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: start;
    margin-left: 93px;
  }
}

.footer-form__label {
  display: block;
}

.footer-form__btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    display: inline-flex;
    margin-left: 12px;
  }
}

.footer-form__svg {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hunter-footer-backg-color);
  width: 290px;
  margin-bottom: 20px;
  max-height: 50px;
  padding: 15px 16px;
  color: var(--secondary-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.btn-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
  }
}

.btn-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  min-width: 71px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__btn:hover, .btn-list__btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio.list {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio.list {
    justify-content: flex-start;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .portfolio__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
  }
}

.project {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 9px;
}

.project__kind {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* --------------ОВЕРЛЕЙ-------------------- */
.card {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio__link:hover .card__text {
  transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */