.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantage__quality {
  @include font(null, 14px, 1.14, 0.03em);
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and(min-width:768px) {
    text-align: start;
  }
}

.advantage__text {
  @include font(null, 14px, 1.71, 0.03em);
  text-align: center;
  width: 270px;

  @media screen and(min-width:480px) {
    width: 450px;
    text-align: start;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

/* --------------ІКОНКИ---------------- */

.advantage__box {
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;

  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}
