.partners__title {
  text-align: center;
  color: var(--title-text-color);

  @media screen and(min-width:320px) {
    @include font(null, 28px, 1.18, 0.03em);
    margin-bottom: 30px;
  }
  @media screen and(min-width:1200px) {
    @include font(null, 36px, 1.17, null);
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media screen and(min-width:320px) {
    flex-wrap: wrap;
  }
}

.clients__item {
  height: 92px;

  @media screen and(min-width:320px) {
    width: 290px;
  }
  @media screen and(min-width:480px) {
    width: 210px;
  }
  @media screen and(min-width:768px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
