.header {
  @media screen and(max-width:767px) {
    display: none;
  }
  border-bottom: 1px solid #ececec;
  background-color: var(--main-color-background);
  .conteiner {
    display: flex;
    align-items: center;
  }
}

.header__link.current {
  color: var(--accent-color);
  position: relative;
  @media screen and(min-width:768px) {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      bottom: -1px;
    }
  }
}

/*---------------------Логотип-------------------------*/

.logo {
  font-family: 'Raleway', sans-serif;
  @include font(null, 24px, 1.17, 0.03em);
  text-decoration: none;

  padding-top: 26px;
  padding-bottom: 26px;
  @media screen and(min-width: 1200px) {
    @include font(null, 26px, 1.19, null);
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--first-part {
  color: var(--accent-color);
}

.logo--second-part {
  color: var(--title-text-color);
}

/*------------------------Navigation-------------------*/

.header__link {
  @include font(500, 40px, 1.18, 0.02em);
  text-decoration: none;
  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and(min-width:768px) {
    @include font(null, 14px, 1.14, null);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--mail,
.header__link--tel {
  color: var(--primary-text-color);
}
.header__link--mail {
  padding: 19px 0 0 0;
  margin-bottom: 10px;
  @media screen and(min-width:1200px) {
    padding: 32px 0;
    margin-bottom: 0;
  }
}
.header__link--tel {
  padding: 0 0 19px 0;
  @media screen and(min-width:1200px) {
    padding: 32px 0;
  }
}

.header__list {
  display: flex;
  align-items: center;
  &:last-child {
    margin-left: auto;
  }
}
.nav {
  .header__item:first-child {
    margin-right: 88px;
  }
  @media screen and(min-width:1200px) {
    .header__item:first-child {
      margin-right: 93px;
    }
  }
}

.header__item {
  &:not(:last-child) {
    margin-right: 50px;
    @media screen and(min-width:768px) {
      .header__item {
        margin-right: 0;
      }
    }
  }
}
.contacts {
  display: block;
  @media screen and(min-width:768px) {
    .header__item {
      margin-right: 0;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;
    .header__item:first-child {
      margin-right: 50px;
    }
  }
}

/* ----------------HEADER ICON-------------- */

.header__icon {
  fill: var(--primary-text-color);
  margin-right: 8px;
  .header__link--tel:hover &,
  .header__link--tel:focus &,
  .header__link--mail:hover &,
  .header__link--mail:focus & {
    fill: var(--accent-color);
  }
  @media screen and(min-width:1200px) {
    margin-right: 10px;
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
