/*-------------------Hero------------------------*/
.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/telheaderimg-min.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/tel-headerimg-x2-min.jpg);
  }
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and(min-width:481px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/tab-header-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/tab-header-x2-min.jpg);
    }
  }
  @media screen and(min-width:769px) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/deskbckg-img.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/desk-hero-x2-min.jpg);
    }
  }

  @media screen and(min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__text {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  @include font(900, 26px, 1.62, 0.06em);
  @media screen and(min-width:480px) {
    max-width: 360px;
  }

  @media screen and(min-width:1200px) {
    @include font(900, 44px, 1.36, null);
    max-width: 696px;
  }
}

/*--------КНОПКА------*/

.hero__btn {
  border: 1px solid transparent;
  background-color: var(--accent-color);
  @include font(700, 16px, 1.88, 0.06em);
  color: var(--secondary-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
