.mob-header {
  border-bottom: 1px solid #ececec;
  @media screen and(min-width:768px) {
    display: none;
  }
  .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo {
    padding: 0;
  }
}
.mob-header__btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: transparent;
  cursor: pointer;
}
.mob-header__icon {
  fill: var(--title-text-color);
  .mob-header__btn:hover &,
  .mob-header__btn:focus & {
    fill: var(--accent-color);
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
//*МОБІЛЬНЕ МЕНЮ*//

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 40px 70px;
  overflow: auto;
  @media screen and(min-width:480px) {
    padding: 48px 40px;
  }
  @media screen and(min-width:768px) {
    padding: 10px 40px;
  }
}
.menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.mob-menu__item {
  &:nth-child(2) {
    margin-bottom: 64px;
  }
  &:first-child {
    margin-bottom: 32px;
  }
}
.menu__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 10px;
}
.menu__icon {
  .menu__close-btn:hover & {
    fill: var(--accent-color);
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc__list {
  display: flex;
}

.mob-soc__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  padding-left: 10px;
  padding-right: 10px;
  &:first-child {
    padding-left: 0;
  }
  @include font(500, 11px, 1.12, 0.02em);

  @media screen and(min-width:480px) {
    @include font(null, 18px, 1.22, null);
  }
}
.mob-soc__link {
  width: 100%;
  height: 100%;
  color: var(--accent-color);
}

.mob-menu__link--tel {
  text-decoration: none;
  @include font(500, 25px, 1.18, 0.02em);
  color: var(--accent-color);
  @media screen and(min-width:480px) {
    @include font(null, 40px, null, null);
  }
}
.mob-menu__link--mail {
  text-decoration: none;
  @include font(500, 24px, 1.17, 0.02em);
  color: #757575;
}
.menu-list__item {
  .menu-list__link {
    @include font(500, 40px, 1.18, 0.02em);
    text-decoration: none;
    color: var(--title-text-color);
    &:hover {
      color: var(--accent-color);
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.menu-list__link.current {
  color: var(--accent-color);
}
