.workers {
  background-color: #f5f4fa;
}

.workers__title {
  text-align: center;
  color: var(--title-text-color);
  @include font(null, 28px, 1.18, 0.03em);
  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    @include font(null, 36px, 1.17, null);
    margin-bottom: 50px;
  }
}

.wokers__names {
  @include font(500, 16px, 1.19, 0.03em);
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.workers__position {
  @include font(null, 16px, 1.19, 0.03em);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.workers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.workers__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
  width: 290px;

  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }

  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

.employees {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and(min-width:1200px) {
    padding-bottom: 30px;
  }
}

/* -------------ICON----------- */

.soc-list {
  display: flex;
  gap: 10px;
  padding: 0 32px;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc-list__link {
  display: flex;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__icon {
  .soc-list__link:hover &,
  .soc-list__link:focus & {
    fill: var(--main-color-background);
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
