.our-work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0;
  &__title {
    @include font(null, 36px, 1.17, 0.03em);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
  }
}

.type-of-work__text {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
}

.type-of-work {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
