.portfolio.list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: block;
  max-width: 100%;
  height: 100%;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  padding: 20px 15px 24px 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project__name {
  height: auto;

  @include font(null, 18px, 2, 0.06em);
  color: var(--title-text-color);
  margin-bottom: 9px;
}

.project__kind {
  @include font(null, 16px, 1.88, 0.03em);
  color: var(--primary-text-color);
}

/* --------------ОВЕРЛЕЙ-------------------- */

.card {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  @include font(null, 18px, 1.56, 0.03em);
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  .portfolio__link:hover & {
    transform: translateY(-100%);
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
